/* @import "../Variables/Variable.scss"; */

/* .mainpage {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $redColor;
    background-image:url("../Components/Group.png");
    background-repeat: no-repeat;
  }
  button {
    @include buttonStyle($redColor, 35px);
    &:hover {
      background-color: aquamarine;
    }
  }
  
}

button {
  @include buttonStyle(purple, 25px);
  &:hover {
    background-color: aquamarine;
  }

  
} */

